[submodule "Game/Vendor/glm"]
	path = Game/Vendor/glm
	url = git@github.com:icaven/glm.git
[submodule "Game/Vendor/assimp"]
	path = Game/Vendor/assimp
	url = https://github.com/AminAliari/assimp.git
[submodule "Game/Vendor/glfw"]
	path = Game/Vendor/glfw
	url = git@github.com:TheCherno/glfw.git
[submodule "Game/Vendor/ImGuizmo"]
	path = Game/Vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
