[submodule "Engine/Vendor/glm"]
	path = Engine/Vendor/glm
	url = git@github.com:icaven/glm.git
[submodule "Engine/Vendor/assimp"]
	path = Engine/Vendor/assimp
	url = https://github.com/AminAliari/assimp.git
[submodule "Engine/Vendor/glfw"]
	path = Engine/Vendor/glfw
	url = git@github.com:TheCherno/glfw.git
